.load-popup
  width 600px
  height 200px

  .load-panel
    width 600px
    height 200px
    line-height 200px
    text-align center
    font-size 18px
    opacity 0.6
    cursor pointer
    user-select none
    -moz-user-select none

  .load-popup-input
    display none