body
  padding 0
  margin 0
  font-family 'Arimo', 'Segoe UI', Arial, sans-serif
  font-weight normal
  -webkit-font-smoothing antialiased
  font-size 15px
  overflow hidden

main
  display flex
  flex-flow row wrap
  background var(--secondary-dark)