@require "layout/general.styl"
@require "layout/header.styl"
@require "layout/footer.styl"
@require "layout/popup.styl"
@require "layout/ranges.styl"


main section.working-space
  position relative
  flex 1 1 300px
  height calc(100vh - 95px)
  background var(--secondary)
  color var(--secondary-text)

  .graph
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  .preview
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background red
    opacity 0
    pointer-events none

    &.active
      opacity 1
      pointer-events all

    .save-image-button
      position absolute
      z-index 1
      top 8px
      right 8px
      line-height 24px
      width 24px
      display block
      height 24px
      border 0
      padding 0
      background-color var(--primary)
      color white
      border-radius 3px
      cursor pointer
      transition color 0.1s ease-in-out

      &:hover
        color #BBAAFF

main section.sidebar
  user-select none
  -moz-user-select none
  flex 0 0 300px
  height calc(100vh - 95px)
  background var(--secondary-dark)
  color var(--secondary-text)
  overflow-x hidden
  overflow-y hidden

main section.sidebar:hover
  overflow-y auto
