:root
  --primary #311b92
  --primary-dark #000063
  --primary-light #6746c3
  --primary-light-light #9766D0
  --primary-text #F5F5F6
  --secondary #F5F5F6
  --secondary-dark #E9EAE9
  --secondary-dark-dark #C7CAC7
  --secondary-text #020007