.component-input
  background transparent
  padding 5px 5px 6px 5px
  border-bottom 1px solid rgba(0,0,0,0.066)

  &.disable
    display none

  label
    display inline-block
    margin-bottom 5px
    font-size 12px

  input[type=text]
    padding 4px
    font-size 11px
    border 0

  input
    outline none

  button
    outline none
